.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.youtube-video {
  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100vh;

  border: none;
  z-index: 999999;

  /* Keeps aspect ratio while filling screen */
  object-fit: cover;

  /* Performance improvements */
  display: block;
  overflow: hidden;
}

/* Mobile devices */
@media screen and (max-width: 768px) {
  .youtube-video {
      width: 100vw;
      height: 100vh;
  }
}

/* Tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .youtube-video {
      width: 100vw;
      height: 100vh;
  }
}

/* Large screens and ultrawide monitors */
@media screen and (min-width: 1025px) {
  .youtube-video {
      width: 100vw;
      height: 100vh;
  }
}

